/*====== Common Styles =====*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}


body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

img {
    display: block;
}
.container {
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*====== / Common Styles =====*/

/*====== Page Heder Styles =====*/

.page-heder {
    border-bottom: 1px solid #e7e9fc;
    width: 1440px;
    height: 72px;
}

.page-heder-container {
    display: flex;
    align-items: center;
}

.page-nav {
    display: flex;
    align-items: center;
}

.menu {   
    display: flex;
    column-gap: 40px;
}

.contact-block {
    display: flex;
}

.contact-list {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    column-gap: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;
}

.text-italic {
    color: #2e2f42;
}

.menu-link {
font-weight: 500;
font-style: normal;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
display: block;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.contact-block {
    font-style: normal;
}

.menu-link-link {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.menu-link-link:focus {
    color: #404bbf
}

.menu-link-link:hover {
    color: #404bbf;
}

/*====== / Page Heder Styles =====*/

/* =========== Hero Section styles =========== */

.hero {
    background-color: #2e2f42;
    padding: 188px 0;
}
.hero-container{
    width: 1440px;
    padding-top: 188px;
    padding-bottom: 292px;
    padding-right: 472px;
    padding-left: 472px;
}

.main-title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.buy-btn {
    background: #4d5ae5;
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    gap: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px; 
    display: block;
    align-items: center;
    cursor: pointer;
}

.buy-btn:focus {
background: #404bbf;
}

.buy-btn:hover {
background: #404bbf;
}
/* =========== / Hero Section styles =========== */

/* =========== Benefits Section styles =========== */

.benefits {
    color: #fff;
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-list-item {
    width: calc((100% - 72px) / 4);
}

.benefits-list-title {
    font-weight: 500;
    font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.benefits-list-text {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/* =========== / Benefits Section styles =========== */

/* =========== Employees Section styles =========== */
.employees {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.employees-title {
    font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
background-color: #FFFFFF;
margin-bottom: 72px;
}

.employees-list {
    display: flex;
    gap: 24px;
}

.employees-list-item {
    width: calc((100% - 72px) / 4);
    background: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16),
            0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.employees-title-name {
    padding: 32px 0;
}

.employees-list-fullname {
    font-weight: 500;
    font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.employees-list-text {
    font-size: 16px;
    color:#434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
/* =========== / Employees Section styles =========== */

/*============= Hoto Section styles ==================*/
.menu-hoto {
    padding-top: 120px;
    padding-bottom: 120px;
}

.menu-hoto-tittel {
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}

.menu-hoto-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    text-align: left;
    row-gap: 48px;
}

.menu-hoto-intem {
    width: calc((100% - 48px) / 3);
    border: 1px solid #e7e9fc;
    width: 360px;
}

.menu-list-inte {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.menu-list-hoto {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.menu-list-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/*============= / Hoto Section styles ==================*/

/* =========== Footer styles =========== */

.page-footer  {
    padding: 100px 0;
    background-color: #2e2f42;
}

.logotype {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
max-width: 115px;
display: inline-block;
margin-bottom: 16px;
}

.text-etalic {
    color: #f4f4fd;
}

.contact-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
background: #2e2f42;
max-width: 264px;
}
/* =========== / Footer styles =========== */
