/*====== Common Styles =====*/
ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}


body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}
/*====== / Common Styles =====*/

/*====== Page Heder Styles =====*/
.logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.text-italic {
    color: #2e2f42;
}

.menu-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.contact-block {
    font-style: normal;
}

.contact-list-etem {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.contact-list-etem:focus {
    color: #404bbf
}

.contact-list-etem:hover {
    color: #404bbf;
}

/*====== / Page Heder Styles =====*/

/* =========== Hero Section styles =========== */

.hero {
    background-color: #2e2f42;

}
.main-title {
    font-family: inherit;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.buy-now-btn {
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    text-align: center
}

.buy-now-btn:hover {
font-weight: 600;
background: #404bbf;
cursor: pointer;
}

.buy-now-bt:focus {
    font-weight: 600;
background: #404bbf;
cursor: pointer;
}
/* =========== / Hero Section styles =========== */

/* =========== Benefits Section styles =========== */
.benefits {
    color: #fff;
}
.benefits-list-title {
    font-weight: 500;
    font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.benefits-list-text {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/* =========== / Benefits Section styles =========== */

/* =========== Employees Section styles =========== */
.employees {
    background-color: #F4F4FD;
}

.employees-title {
    font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
background-color: #FFFFFF;
}

.employees-list-item {
    background: #fff;
}


.employees-list-fullname {
    font-weight: 500;
    font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.employees-list-text {
    color:#434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* =========== / Employees Section styles =========== */

.menu-hoto-tittel {
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
}

.menu-list-hoto {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.menu-list-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* =========== Footer styles =========== */

.page-footer  {
    background-color: #2e2f42;
}
.logotype {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
background: #2e2f42;
}

.text-etalic {
    color: #f4f4fd;
}

.contact-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
background: #2e2f42;
}
/* =========== / Footer styles =========== */
